body {
    background-color: #000000;
    color: #F9F5EB;
}

#header h1 {
    background-color: #1c3dc0;
    width: 15%;
    padding-left: 20px;
}

hr {
    width: 10%;
    border-bottom-style: dotted;
    border-bottom-width: 3px;
    border-color: #9b4300;
}


#date-time {
    padding: 3px;
    text-align: left;
    font-weight: bold;
}

#date-time th, td {
    padding: 5px;
}

#header img {
    width: 150px;
}

#main-content {
    max-width: 500px;
    margin: auto;
}

#main-content h1{
    font-size: 1.25rem;
}

